@use '@material/button/mdc-button';
@use '@material/button';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container {
  width: 30rem;
  height: 30rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: .5px solid #4285f4;
  box-shadow: 1px 1px 3rem #4285f4;
}

.bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr;

  textarea {
    resize: none;
  }
}




.messages-screen {
  overflow: auto;
  padding-left: .5rem;


}

::-webkit-scrollbar {
  width: .5rem;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4285f4;
}